* {
    color: darkorange;
}

@media only screen and (max-width: 767px) {
    body {
        background: url('../img/background.jpg') center center no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

body {
    background: url('../img/background.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#mainTitle {
    padding: 7vh 0 7vh 0;
    text-align: center;
}

#subtitleRow {
    padding: 0 0 5vh 0;
}

#inputDivs {
    max-height: 24vh;
    overflow: auto;
}

#inputDivs::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

#inputDivs::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

#inputDivs::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: darkorange;
}

#addCategoryBtn {
    margin:  0 0 1vh 0;
}

.categoryDivs:last-child, .categoryDivs:last-child>button {
    margin-bottom: 0;
}

#paddingDiv {
    padding-bottom: 1vh;
}

#reportCopyBtn {
    margin: 1.75vh 0 1.75vh 0;
}

.categoryDivs > input, .categoryDivs > button {
    margin: 0 0 0.5vh 0;
}

/*Will change dynamically in Script.js functions addCategory() and removeCategory()*/
.categoryDivs > button {
    display:none;
}

#accordionBtn {
    text-decoration: none;
    color: black;
}