*, .navbar>h2>a, .bg-light>p>a {
    color: darkorange;
}

@media only screen and (max-width: 767px) {
    body {
        background: url('../img/background.png') center center no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

body {
    background: url('../img/background.png') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-light>p, .bg-light>ul>li>a {
    margin: 0;
    color: black;
}

#accordionRow {
    margin-top: 5vh;
}

.symbolsJsonCopyBtn {
    margin-top: 1vh;
}

#symbolsInputParentDiv {
    height: 10vh;
    resize: vertical;
    overflow: auto;
    margin-bottom: 1vh;
}

@media (max-width: 990px) {
    #symbolsInputParentDiv {
        height: auto;
    }
}

#symbolsInputParentDiv::-webkit-scrollbar-corner {
    background-color: transparent;
}

#symbolsInputParentDiv::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

#symbolsInputParentDiv::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

#symbolsInputParentDiv::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: darkorange;
}

textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}

textarea::-webkit-scrollbar {
    width: 12px;
    background-color: white;
}

#addSymbolInputBtn {
    margin:  0 0 1vh 0;
}

.symbolsInputFormGroupDiv:last-child, .symbolsInputFormGroupDiv:last-child>button {
    margin-bottom: 0;
}

.symbolsInputFormGroupDiv > textarea, .symbolsInputFormGroupDiv > button {
    margin: 0 0 0.5vh 0;
}

/*Will change dynamically in Script.js functions addsymbol() and removesymbol()*/
.symbolsInputFormGroupDiv > button {
    display:none;
}

.card-header>h2>button, .card-header>h2>button:hover, .card-header>h2>button:visited, .card-header>h2>button:active, .card-header>h2>button:focus {
    text-decoration: none;
    color: darkorange;
}